.principal {
    align-items: center;
}

.cuerpo-texto {
    margin-top: 50px;
    font-size: 25px;
}


.imagen-about {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
}